# Test Notebook 
Random stuff and experiments go here!
<br>gl
<br>01.22.20

In [1]:
#Basics Importants:
import pandas as pd
import numpy as np
import matplotlib as plt

### Jim Vanderslice: CASRNs

In [ ]:
iarc_df = pd.read_csv('C:\IARC_Class_Full_List.csv')
iarc_df.head()

### 01.22.20: National Water Quality Data (SORET db and more)

In [8]:
# Importing Air Data
path = 'C:\\Users\\u0890227\\Desktop\\'
Nat_Wat_Qu = pd.read_csv(path + 'Nat_Wat_Qual.csv',nrows=5)
print("Most of this data seems familiar from the AWQMS Data. Let's see if it is all produced by UTAHDWQ")

Most of this data seems familiar from the AWQMS Data. Let's see if it is all produced by UTAHDWQ

In [ ]:
#Use a lambda logic function to import only every 1000 data entries
def funnel(index):
    if index%10000000000 == 0:
        return True
    return False

Nat_Wat_Qu = pd.read_csv(path + 'Nat_Wat_Qual.csv', skiprows = lambda x:funnel(x))

In [2]:
# Importing Air Data
path = 'C:\\Users\\u0890227\\Desktop\\'
test = pd.read_csv (path + 'photos.txt',  sep="\t", header=0)

In [19]:
air_poll.head()

,id,file_name,state,county,mine_name,plss,quad,mineral,author,photonum,caption,w,h,color,fips
0,1,bal0017,Colorado,Garfield,Coryell Coal Mine,NaN,NaN,NaN,"Beekly, A.L.",17:,"Coryell Coal Mine, looking northwest, Newcas...",1262,833,Gray,f08045
1,2,bal0018,Colorado,Garfield,Experimental cement plant,NaN,NaN,Cement,"Beekly, A.L.",18:,"Experimental Cement Plant, Newcastle. Garfiel...",1251,902,Gray,f08045
2,3,bal0021,Colorado,Garfield,South Canyon mines,NaN,NaN,NaN,"Beekly, A.L.",21:,"South Canyon Mines, South Canon. Garfield C...",1247,897,Gray,f08045
3,4,bal0051,Colorado,Pitkin,Spring Gulch mining camp,NaN,NaN,NaN,"Beekly, A.L.",51:,Spring Gulch mining camp. Panorama with No. 52...,1248,867,Gray,f08097
4,5,bal0068,Colorado,Pitkin,Redstone Coking Plant,NaN,NaN,Coke,"Beekly, A.L.",68:,"Redstone coking plant, Redstone. Pitkin Count...",1272,859,Gray,f08097

In [11]:
#Data Sources
Data_Categories = ['Air Pollution','Chemicals/Hazardous Waste','Radiation','Ground Water','Drinking Water', 'Heavy Metals'
                  ,'Environmental Clean-Up Sites','Other']
Data_Size = [2]